.chat-area {


flex:1;


position:relative;


overflow-y:auto;


padding:30px 20px 120px;

padding-bottom:180px;


}



.messages-container {


max-width:850px;


margin:0 auto;


width:100%;


display:flex;


flex-direction:column;


gap:25px;


}




.chat-area::-webkit-scrollbar {

    width:8px;

}


.chat-area::-webkit-scrollbar-track {

    background:transparent;

}


.chat-area::-webkit-scrollbar-thumb {

    background:#b5b5b5;

    border-radius:20px;

}


.chat-area::-webkit-scrollbar-thumb:hover {

    background:#777;

}


/* Mobile */


@media(max-width:600px){


.chat-area {


padding:20px 12px 110px;


}


}